*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    color: #f7f8f9;   
    font-weight: lighter;
    outline: none;
}

body{
    height: 100%;
    width: 100%;
    background-image: url('../img/bc2.jpg');
    background-position: right;
}

#registro{
    top: 40px;
    position: absolute;
    height: 90%;
}

.formularioRegistro{
    float: left;
    position: relative;
    width: 100%;
}

.input{
    width: 75%;
    height: 20%;
    margin-top: 25px;
    margin-left: 12.5%;
    border: none;
    border-bottom: 1px solid #f7f8f9;
    background-color: transparent;
    font-size: 1em;
    box-sizing: border-box;
    padding: 10px;
}

::-webkit-input-placeholder{
    color: #f7f8f9;
}

.inner-addon { 
    position: relative; 
}

.inner-addon .fa {
  position: absolute;
  margin-left: 14%;
  margin-top: 35px;
  pointer-events: none;
}

.left-addon .fa  { 
    left:  0px;
}

.left-addon input  { 
    padding-left:  30px; 
}

#footer{
    float: left;
    box-sizing: border-box;
    position: relative;
    height: 10%;
    width: 100%;
    top: 450px;
}

.botones{
    width: 75%;
    height: 70px;
    margin-top: 20px;
    margin-left: 12.5%;
    border: 1px solid #f7f8f9;
    background-color: transparent;
    font-size: 1.2em;
}

#footer>h4{
    text-align: center;
    line-height: 60px;
}

#footer>a{
    margin-top: 20px; 
    float: left;
    width: 100%;
    text-align: center;
}