*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    color: #f7f8f9;    
    font-weight: lighter;
}

body{
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url('../img/bc2.jpg');
    background-position: right;
}

#imgSplash{
    float: left;
    box-sizing: border-box;
    position: absolute;
    height: 90%;
    width: 100%;
}

#imgSplash>img{
    box-sizing: border-box;
    margin-left: calc(50% - 130px);
    padding: 30px;
    margin-top: 100px;
}

#imgSplash>h3, h2{
    width: 100%;
    text-align: center;
}

#footer{
    float: left;
    box-sizing: border-box;
    position: absolute;
    height: 10%;
    width: 100%;
    bottom: 0;
}

#footer>h4{
    text-align: center;
    line-height: 60px;
}

